extends base

block content
    main.main
        .user-hide= user
        .signup-form
            if section === 'user'
                h2.heading-secondary.ma-bt-lg= `Create new ${section}` 
                form.form.form--addSection
                    .form__group
                        label.form__label(for='name') Name
                        input#name.form__input(type='text', placeholder='Your full name', required)
                        p.error-name
                    .form__group.ma-bt-md
                        label.form__label(for='email') Email address
                        input#email.form__input(type='email', placeholder='you@example.com', required)
                        p.error-email
                    .form__group.ma-bt-md
                        label.form__label(for='password') Password
                        input#password.form__input(type='password', placeholder='••••••••', minlength='8', required)
                        p.error-password
                    .form__group.ma-bt-md
                        label.form__label(for='password-confirm') Password Confirm
                        input#password-confirm.form__input(type='password', placeholder='••••••••', minlength='8', required)
                        p.error-password-confirm
                    .form__group.ma-bt-md 
                        label.form__label(for="role") Department:
                        select#role.form__input(name="role")
                            option(value="user", selected) User
                            option(value="lead-guide") Lead guide
                            option(value="guide") Guide
                            option(value="admin") Admin
                    .form__group
                        button.btn.btn--green#add-item(data-section=`${section}`) Sign up

            if section === 'tour'
                h2.heading-secondary.ma-bt-lg= `Create new ${section}` 
                form.form.form--addSection
                    .form__group
                        label.form__label(for='name') Name
                        input#name.form__input(type='text', placeholder='Tour name', required)
                        p.error-name
                    .form__group.ma-bt-md 
                        label.form__label(for='price') Price
                        input#price.form__input(type='number', min='1', step='1', value='1', required)
                        p.error-price
                    .form__group.ma-bt-md 
                        label.form__label(for='duration') Duration (days)
                        input#duration.form__input(type='number',  min='1', step='1', value='1', required)
                        p.error-duration
                    .form__group.ma-bt-md 
                        label.form__label(for='maxGroupSize') Max group size
                        input#maxGroupSize.form__input(type='number', min='1', step='1', value='1', required)
                        p.error-maxGroupSize
                    .form__group.ma-bt-md 
                        label.form__label(for="difficulty") Difficulty:
                        select#difficulty.form__input(name="difficulty")
                            option(value="easy", selected) Easy
                            option(value="medium") Medium
                            option(value="difficult") Difficult
                    .form__group.ma-bt-md
                        label.form__label(for='summary') Write a summary
                        textarea#summary.form__input(required rows='3')
                        p.error-summary
                    .form__group.ma-bt-md
                        label.form__label(for='description') Write a description
                        textarea#description.form__input(required rows='9')
                        p.error-description
                    .form__group.form__photo-upload
                        img.form__tour-imageCover
                        input#imageCover.form__upload(type='file', accept='image/*')
                        label(for='imageCover') Choose new image cover
                    p.error-imageCover 
                    //- p.error-imageCover only one to be after div because in div the error be at the same line with input, label so bad
                    .form__group.ma-bt-md
                        label.form__label Upload 3 Images:
                        input#images(type="file" accept="image/*" multiple required)
                        p.error-images
                    h1 Start Dates

                    .form__group.ma-bt-md
                        label.form__label(for="startDate1") Start Date 1:
                        input#startDate1.form__input(type="date" required)
                        p.error-dates
                    .form__group.ma-bt-md
                        label.form__label(for="startDate2") Start Date 2:
                        input#startDate2.form__input(type="date" required)
                    .form__group.ma-bt-md
                        label.form__label(for="startDate3") Start Date 3:
                        input#startDate3.form__input(type="date" required)

                    h2 Start Location

                    .form__group.ma-bt-md
                        label.form__label(for="address") Address:
                        input#address.form__input(type="text" )
                        p.error-address

                    .form__group.ma-bt-md
                        label.form__label(for="description-location") Description:
                        input#description-location.form__input(type="text")
                        p.error-description-location

                    .form__group.ma-bt-md
                        label.form__label(for="coordinates") Coordinates (comma-separated, e.g., "34.0522,-118.2437"):
                        input#coordinates.form__input(type="text")
                        p.error-coordinates
                    .form__group
                        button.btn.btn--green#add-item(data-section=`${section}`) Add new tour


            if section === 'review'
                h2.heading-secondary.ma-bt-lg= `Create new ${section}` 
                form.form.form--addSection
                    .form__group
                        label.form__label(for='tour_name') Choose Tour
                        select#tour_name.form__input(name='tour', required)
                            option(value='') Select a tour
                            each tour in tours
                                option(value=tour._id)= tour.name
                        p.error-tour
                    .form__group.ma-bt-md
                        label.form__label(for='user_name') Choose User
                        select#user_name.form__input(name='user', required)
                            option(value='') Select a user
                            each user in users
                                option(value=user._id)= user.name
                        p.error-user
                    .form__group.ma-bt-md
                        label.form__label(for='review') Write a review
                        textarea#review.form__input(placeholder='Write your review here...', required rows='5')
                        p.error-review
                    .form__group.ma-bt-md
                        label.form__label(for='rating') Rating
                        input#rating.form__input(type='number', required, min='0', max='5', step='0.1', value='0')
                        p.error-rating
                    .form__group
                        button.btn.btn--green#add-item(data-section=`${section}`) Add new review

            if section === 'booking'
                h2.heading-secondary.ma-bt-lg= `Create new ${section}` 
                form.form.form--addSection
                    .form__group
                        label.form__label(for='tour_name') Choose Tour
                        select#tour_name.form__input(name='tour', required)
                            option(value='') Select a tour
                            each tour in tours
                                option(value=tour._id)= tour.name
                        p.error-tour
                    .form__group.ma-bt-md
                        label.form__label(for='user_name') Choose User
                        select#user_name.form__input(name='user', required)
                            option(value='') Select a user
                            each user in users
                                option(value=user._id)= user.name
                        p.error-user
                    .form__group.ma-bt-md
                        label.form__label(for='tour_date') Choose Tour Date
                        select#tour_date.form__input(name='tour_date', required)
                            option(value='') Select a tour date
                        p.error-date
                    .form__group.ma-bt-md
                        label.form__label(for='numOfTickets') Num Of Tickets
                        input#numOfTickets.form__input(type='number', required, min='1', step='1', value='1')
                        p.error-tickets
                    .form__group.ma-bt-md.total-booking-admin
                        p Total: 
                            span.total 0
                            span.person $
                            

                    .form__group
                        button.btn.btn--green#add-item(data-section=`${section}`) Add new bookings